<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--格式一-->
  <add name="Productdb_Read" connectionString="Server=mysql.test.com;Database=productdb;Uid=dev;Pwd=server1@com;Port=3306;" />
  <add name="Productdb_Write" connectionString="Server=mysql.test.com;Database=productdb;Uid=dev;Pwd=server1@com;Port=3306;" />

  <!--格式二-->
  <add name="MasterConnectionString" connectionString="server=localhost;User ID=root;Password=WdZx2017;database=db_market;" providerName="MySql.Data.MySqlClient"/>
  <add name="SlaveConnectionString" connectionString="server=localhost;User ID=root;Password=WdZx2017;database=consumerdb;" providerName="MySql.Data.MySqlClient"/>
</connectionStrings>