<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="RedisSetServer" value="127.0.0.1:6379"/>
  <add key="RedisGetServer" value="127.0.0.1:6379"/>
  <add key="RedisDB" value="Cqwang.API"/>
  <add key="RedisMaxReadPoolSize" value="500"/>
  <add key="RedisMaxWritePoolSize" value="5"/>
  
</appSettings>